

body {
    background-image: url('https://pbs.twimg.com/media/CZxYUWgWIAMnHff?format=jpg&name=medium');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;

}

html,
body {
   
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

ul li {
    list-style: none;
    color: black;
    padding: 10px 10px;
    font-size: 14px;

}

span {
    font-size: 10px;
}

.gmail {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}
.link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    align-self: end;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 20px;
    justify-content: center;
    display: flex;
}

.link i {

color: #1F1F1F;
}

.icn {
    display: flex;
    justify-content: center;
}

/* .icons1  .icn {
    display: inline-block;

}
.icons2  .icn {
    display: inline-block;
  
} */
.googleimg {
    /* display: flex;
    justify-content: center; */
}

.searchbar {
    display: flex;
    justify-content: center;
}

input {
    margin: 0px auto;
    width: 85%;
padding-left: 20px;
border: 0px;
}
.search-container{
    padding: 15px 15px;
    border-radius: 35px;
    margin: 30px auto;
    width: 40%;
    background-color: white;
}
.search-container i {
    color: grey;
}


.google-icon{
    width: 20px;
    height: 20px;
    margin: 0px 3px;
    
}

.icons {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.icn {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 30px 5px;
    font-size: 30px;
    background-color: color;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 0%;
    align-items: center;

}

.icn i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    align-items: center;

}

.googleimg {
    background-color: #1F1F1F;
    padding: 16px 24px;
    border-radius: 20px;
    display: block;
    justify-content: center;
    width: 448px;
    text-align: center;
}

.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

li:last-child {
    margin-left: auto;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.label-btn {
    font-size: 13px;
    padding: 5px 5px;
    margin: 2px 2px;
    text-align: center;
}
input::placeholder {
    text-align: left;
  }

.gmail-navbar{
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 8px 16px;
    }

.gmail-navbar a,.gmail-navbar i {
        color: white;
        padding: 14px 16px;
    }

    .footer-link a{

        color: #FFFFFF;
    }

    .footer-link{
        padding-bottom: 40px ;
        padding-left: 40px;
    }
    .icn a {
        color: white;
    }
i {
    color: black;
}